* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}
body {
    background: #fefefe;
}
header {
    width: 100%;
    height: 70px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
footer{
    width: 100%;
    height: 70px;
    background: #000000;
    display: grid;
    justify-content: center;
    align-items: center;
}

.footer-text{
    color: #fefefe;
    font-size: small;
    opacity: 80%;
    
}
.footer-text:hover{
    color: #ff5500;
}
.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}

.logo a {
    color: inherit; /* Ensures the anchor tag inherits the color from .logo */
    text-decoration: none; /* Optional: Removes underline from the link */
}

.logo a:hover {
    color: #ff5500;
}

.hamburger {
    display: none;
}
.nav-bar ul {
    display: flex;
}
.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    /* border-radius: 100px; */
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover {
    color: #ff5500;
    /* background: #fefefe; */
}
.nav-bar ul li a.active {
    color: #ff5500;
}
.title{ /*text*/
    padding-bottom: 20px;
}

.index-container {
    max-width: 1320px;
    width: 90%;
    margin: auto;
    padding: 30px 0;
    
}
.photo-gallery{
    display: flex; 
    gap: 20px;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column; 
    gap: 20px; 
   
}
.photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Para que las imagenes se mantengan todos en un mismo tamaño*/
.img{
    max-width: 100%;
    width: 500px;
    height: auto;
    
}
/* CSS para la página About */
.about-container {
    width: 80%;
    margin: auto;
    padding-top: 30px;
}

.about-container h1 {
    text-align: center;
    padding-bottom: 30px;
}

.about-container h2 {
    text-transform: uppercase;
}

.about-container h3 {
    font-size: 17px;
    color: #000000af;
    margin-bottom: 10px;
}

.about-container p {
    line-height: 1.5;
}

.about-content, .about-image {
    display: inline-block;
    vertical-align: top;
}

.about-content {
    width: 55%;
    margin-bottom: 80px;
    text-align: left; /* Alinea el texto a la izquierda */
}

.about-image {
    width: 40%;
    text-align: center; /* Centra la imagen dentro del contenedor */
}

.about-image img {
    width: 80%; /* Ajusta la imagen para que ocupe todo el ancho del contenedor */
    height: auto;
}
.about-container .social-logos{
    margin-top: 20px;
    
}
.about-container .social-logos i{
    font-size: 30px;
    padding: 0 10px;
    color:#000000;
}
.about-container .social-logos i:hover{
    color: #ff5500;
}
@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #000000;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 450px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
    .photo-gallery{
        flex-direction: column;
    }
    /*css for about*/
    .about-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-top: 20px;
        text-align: center; /* Centra el texto en todo el contenedor */
    }
    
    .about-content {
        width: 100%;
        margin-bottom: 20px; /* Espacio entre el contenido y la imagen */
        text-align: justify; /* Justificar el texto */
    }
    
    .about-image {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .about-image img {
        max-width: 100%;
        height: auto;
    }
    
    .about-container h1 {
        text-align: center;
    }
    .about-container .social-logos{
        display: flex;
        margin: 20px;
        justify-content: center;
    }
    .about-container .social-logos i{
        font-size: 30px;
        padding: 0 20px;
        color:#000000;
    }
}    